[2021-09-26 18:18] Astrodevil opened #3 "Easy Contribution"
This Repository contains basic level programming language source codes. Any newbie learning any language can contribute here.

**Raise a New Issue So that I can assign it you**

[2021-09-26 19:22] Astrodevil opened #4 "Add Some C++ files"
Please add more codes, or questions along with solutions in [C++ folder](https://github.com/Astrodevil/Programming-Basics/tree/main/C%2B%2B)

**Raise a New Issue So that I can assign it you**

[2021-09-27 05:56] subh-chaturvedi commented on #3
I am new to open source contribution and sorry if this is not the right question to ask, but contributing to this repo will be considered for Hacktober Fest 2021, right?

[2021-09-27 06:21] Aayush0606 commented on #4
Hey can I add some DSA problems in DSA-community classroom?

[2021-09-27 07:02] Astrodevil commented on #3
Yes, after the start of the program it will be counted. Till then you can practice

[2021-09-27 07:07] Astrodevil commented on #4
Actually DSA-community classroom folder contains questions from a course, if you are doing the same course then go ahead.
Otherwise add dsa problems [here](https://github.com/Astrodevil/Programming-Basics/tree/main/DSA)

[2021-09-27 07:09] Aayush0606 commented on #4
Ok got it.One more question , if I submit a PR today will it be counted for hacktober fest!?

[2021-09-27 07:13] Astrodevil commented on #4
It will be counted after the start of hactoberfest program

[2021-09-29 01:51] Niyati3031 commented on #4
@Astrodevil can you assign me this for Hacktoberfest 21

[2021-09-29 02:55] Astrodevil commented on #3
As you can see this repository contains codes related to various programming languages and DSA. You can also contribute the same. Just put your codes in right folder.

[2021-09-29 02:59] Astrodevil commented on #4
Lots of contributions can be done on this issue, So raise a new issue regarding this, I will assign that to you.👍🏼

[2021-09-29 03:13] Niyati3031 commented on #4
If i create a new issue and work there will that add to Hacktoberfest 21
Or can i make a pr to this issue itself and it will add to Hacktoberfest 21
I am new so don't know how it works..

[2021-09-29 03:17] Astrodevil commented on #4
@Niyati3031 Its better if you create PR during hactoberfest coding period, From October 1 so that it will be counted for the program. You can create issue anytime

[2021-09-29 04:35] Aryan779 commented on #4
@Astrodevil I have a made program on book store. Can I contribute it?

[2021-09-29 04:35] Aryan779 commented on #4
its in c++

[2021-09-29 04:39] Aryan779 commented on #4
@Astrodevil I have made a program on book store. It involves the use of single linked list. So can I contribute in c++ folder.

[2021-09-29 04:54] Astrodevil commented on #4
You can contribute it to DSA folder and name as "singlelinkedlist.cpp" or something like that. Also put question above the code in that file for understanding.

[2021-09-29 04:59] Aryan779 commented on #4
ok, thank you

[2021-09-29 05:11] Astrodevil opened #10 "Add some python programs"
Always put question above code before commit in respective folders/files, So that anyone can understand
**Raise a New Issue So that I can assign it you**

[2021-09-29 06:45] abhishekkumar11724 commented on #10
hey! 👋
I was looking through the repo and I would like to contribute to this repo. So, could you explain me:-
1. can we add any question solved in python?
2. can we add projects made in python?
3. and how many contributions can we make in one repo for hacktober.

[2021-09-29 07:01] Aryan779 commented on #10
Hey! @Astrodevil  I have made a jupyter file on Basics of python. Can I add that?

[2021-09-29 07:08] Astrodevil commented on #10
You can add any code and resources related to programming language, as this repo is for that. Just make sure your files need to be in correct folder and name it accordingly.  you can also make folder to add files related to your contents.

**Example**:
 1. If you want to add simple program in python folder name it as xyz.py.
 2. If you want to add resources/projects related to python then make a n

[2021-09-29 07:20] Astrodevil commented on #10
@abhishekkumar11724

**1. can we add any question solved in python?**
       Yes, Just make sure to add question along with code for better understanding.
**2. can we add projects made in python?**
       Yes, but make a separate project folder and add your project there.
**3. and how many contributions can we make in one repo for hacktober.**
       You need 4 PR successfully merged for hactoberf

[2021-09-29 07:22] Astrodevil commented on #10
Please made PR From October 1 so that it can be counted Read [Faqs](https://hacktoberfest.digitalocean.com/faq)

[2021-09-29 08:32] KshitizSharma11 opened #14 "I want to contribute in hacktoberfest"
I would like to contribute some JAVA and C++ programs in this repository

[2021-09-29 08:41] Astrodevil commented on #14
please edit the description and mention what you want to change or add in this repository

[2021-09-29 08:41] ManasviGoyal commented on #10
Hi. Do I need to raise an issue before adding the file or I can do without that?

[2021-09-29 08:45] KshitizSharma11 commented on #14
I added the description.

[2021-09-29 08:51] Astrodevil commented on #10
Raising an issue is good thing, if your changes are not needed in this repo i can inform you.
So that you  instead can do changes that our repo needs.

You can do without that also, but give details about your addition/changes in Pull Request description. It would be helpful.

[2021-09-29 08:52] Astrodevil commented on #14
yea sure go ahead

[2021-09-29 08:53] ManasviGoyal commented on #10
Okay. I need to add a project. Can I do that?

[2021-09-29 08:57] Astrodevil commented on #10
@ManasviGoyal yes but add a project folder if not added then add project.
So that other projects can also v added.

Put your whole project file in one folder

[2021-09-29 09:25] Astrodevil opened #15 "Landing Page For programming-basics"
**Having a proper landing page to show all contents from this repo**

*More Suggestions Welcomed*🙏🏼

Can You Make Like this? https://sushreesatarupa.github.io/DSA-cpp-Hacktoberfest2021/

Or You can Make whole landing page for viewing everything from repo.

[2021-09-29 09:31] ManasviGoyal commented on #10
When does the hacktoberfest start? At what time exactly?
Also can I make multiple PR to the same project?

[2021-09-29 09:33] Astrodevil commented on #10
Yes, You can made multiple PRs in same project. Hactoberfest starts from October 1st [Read more](https://hacktoberfest.digitalocean.com/faq)

[2021-09-29 13:00] prgayake opened #16 "I Want to Add java Programs"
<h3>Hey There @Astrodevil ,</h3>
I Would Like to Contribute some Java Program in this Repo.

[2021-09-29 13:11] Astrodevil commented on #16
Go Ahead🎈

[2021-09-29 13:40] kahtras665 opened #17 "I want to add some Python Programs"
**Hey! @Astrodevil**
I would like to contribute to this repository by adding some cool Python Programs!

[2021-09-29 14:16] Astrodevil commented on #17
Go ahead👍🏼

[2021-09-29 15:59] ssahibsingh opened #19 "I want to add some basic pattern programs (Python)."
Hey @Astrodevil
I want to some Basic Pattern Programs here.

[2021-09-29 16:41] #3 closed

[2021-09-29 16:56] kahtras665 commented on #17
Thank you so much for the information!
I will do the PR on 1st October!

[2021-09-29 18:40] Astrodevil commented on #19
Go Ahead. 🚀 @ssahibsingh

[2021-09-29 19:54] KarandeepSingh15 commented on #4
Hey @Astrodevil
I want to add some more basic programs in C++. Can you assign it to me?

[2021-09-29 20:06] Astrodevil commented on #4
Go Ahead

[2021-09-30 06:34] devanshtivari opened #23 "Want to add more useful and descriptive C++ codes"
Being a C++ developer I would request you to allow me to add some more codes into your repository to make it even more comprehensive.

[2021-09-30 06:54] Astrodevil commented on #23
Go Ahead🎈

[2021-09-30 07:19] subh-chaturvedi opened #25 "Add the palindrome problem to Python directory"
A palindrome problem can be added to the python section.

[2021-09-30 07:29] #25 closed

[2021-09-30 08:35] s-bh opened #27 "Want to add basic java programs on patterns"
* or number pattern programs

[2021-09-30 09:24] UKS28 commented on #4
Hello @Astrodevil

I want to add some concepts related to OOPS and DSA .Can you assign it to me?

[2021-09-30 09:28] Astrodevil commented on #4
**Go ahead** 🚀 Make sure to follow folder patterns. Don't add same programs which are already there 👍🏻

Check carefully before making a PR!

[2021-09-30 09:30] Aayush0606 commented on #4
I want to add some C++ code , should I raise new issue?

[2021-09-30 09:34] Astrodevil commented on #4
Not needed, but if you want to add some specific programs, better raise a issue.

[2021-09-30 09:36] Aayush0606 commented on #4
I will be adding folders in C++ folder about specific programs if that's ok?

[2021-09-30 10:15] dmytrohavrysh commented on #10
Hi!
I also want to add some code for Python.

[2021-09-30 10:32] Astrodevil commented on #10
Go ahead👍🏻 @dmytrohavrysh

[2021-09-30 10:37] ManasviGoyal opened #28 "I want to add a C++ progam"
Hey @Astrodevil
I want to some C++ Programs here.

[2021-09-30 10:38] ManasviGoyal opened #29 "I want to add a DSA program"
Hey @Astrodevil
I want to add DSA Program here.

[2021-09-30 10:42] ManasviGoyal commented on #10
Hi. Any idea when exactly the event starts? Has it started already? Little confused due to different timezones

[2021-09-30 11:28] dmytrohavrysh commented on #10
Should I be a contributor to make a PR?

[2021-09-30 11:53] Astrodevil commented on #4
Ok, Go Ahead! If program is of DSA topics put it in DSA folder.

[2021-09-30 11:56] Astrodevil commented on #10
Hacktoberfest Will Start from October 1st. It's not Started yet.

[2021-09-30 11:58] Astrodevil commented on #10
Yes! Are you asking about Hacktoberfest Registration options?

[2021-09-30 11:59] dmytrohavrysh commented on #10
Yep!

[2021-09-30 12:00] Astrodevil commented on #27
Ok, Go Ahead!👍🏼

[2021-09-30 12:12] #28 closed

[2021-09-30 12:17] Astrodevil commented on #29
Ok! 👍🏼

[2021-09-30 12:20] Geek-Tekina opened #31 "Programs for C++ Stl."
Can I add C++ stl programs, and will it be counted as 1 successful PR for hactoberfest 2021?

[2021-09-30 12:25] Astrodevil commented on #31
@Geek-Tekina Yes, You can add stl programs, maybe you can create separate folder inside C++ for better understanding.

And PR created from October 1 will be counted as successful PR for hactoberfest 2021.

[2021-09-30 12:30] Geek-Tekina commented on #31
Okay so I should start contribution from today or 1 of Oct?

[2021-09-30 12:33] Astrodevil commented on #31
You can contribute anytime,
Oct 1 only for hactoberfest.

If you want to work on this I can assign you.

[2021-09-30 12:35] Geek-Tekina commented on #31
You please assign me to this issue!

[2021-09-30 12:40] Geek-Tekina commented on #31
Thank You. I will contribute to it as my first PR for hactoberfest 2021. I am a begineer sir. So guide me through the whole process please!

[2021-09-30 12:41] Astrodevil commented on #31
Okh, Just put everything in order before commit, You can do good🙌🏼

[2021-09-30 12:43] Geek-Tekina commented on #31
Okay sir Thank You.
Sir Confirm the steps pls.
1. Forking the repo.
2. Adding STL folder to C++.
3. adding programs.
4. Creating a pr for this issue.
5. I , Successfully completed my 1 pr for Hactoberfest .

[2021-09-30 12:45] Astrodevil commented on #31
Yes! This is the right step. 🎯

[2021-09-30 14:20] nitin30kumar commented on #10
Hello
I want to contribute some python codes to this repo. Can you suggest to me which kind of programs you need here like pattern, menu-driven, automation, etc?

[2021-09-30 14:43] sunnybhagwat35 commented on #14
Hi, I'm a beginner at contributing to open source. I would like to start with this if it's Ok.
I would like to contribute some DataStructres in JAVA  programs to this repository.

[2021-09-30 14:47] Astrodevil commented on #14
Ok, But raise a new issue. You have to put Java data structures into DSA folder>DSA-Java

[2021-09-30 14:50] kahtras665 commented on #17
Hey! @Astrodevil
I just saw that the label you've added is **'hactoberfest'**.
It should be **'hacktoberfest'** for a successful PR.

[2021-09-30 14:53] Astrodevil commented on #17
Yeah, you noticed it Thanks🙌🏼 but no issue PR lebel is correct

[2021-09-30 14:59] sunnybhagwat35 opened #33 "Java data structures into DSA folder>DSA-Java"
Can I add Java data structures, and will it be counted as a successful PR  for Hacktoberfest 2021?

[2021-09-30 15:06] prahuljose opened #38 "Add a few unique programs into the C++ folder"

[2021-09-30 15:16] #14 closed

[2021-09-30 15:20] Astrodevil commented on #38
@prahuljose please provide details about programs you want to contribute.

[2021-09-30 15:21] KshitizSharma11 opened #39 "I would like to contribute for hacktoberfest"
I would like to contribute a JAVA program that finds GCD of two numbers to the repository

[2021-09-30 15:22] #10 closed

[2021-09-30 15:23] sunnybhagwat35 commented on #33
Thank you, It will be my 1st PR of Hacktoberfest 2021.

[2021-09-30 15:26] prahuljose commented on #38
I plan to add:
1. Matrix Multiplication
2. Swapping 2 numbers w/o an extra variable
3. Reverse a given number (including leading '0' digit)

[2021-09-30 15:32] Astrodevil commented on #38
@prahuljose Ok, you are good to go.

[2021-09-30 15:36] Astrodevil commented on #39
Go! Ahead

[2021-09-30 15:37] nitinkumar30 opened #40 "A new python project for hacktober fest 2021"
Under python, some projects need to be there which are helpful to many.

I'd like to add a project related to Cyber Security which'll help people to communicate easily. This is a real issue in this **internet** world now which is the fastest-growing cyber hub today. I think I can provide a better solution to our communication by encrypting the message you want to transmit.

I've thought of other a

[2021-09-30 15:40] nitin30kumar commented on #10
Raised a new issue [here](https://github.com/Astrodevil/Programming-Basics/issues/40#issue-1012331464). Kindly do the needful.

[2021-09-30 15:40] Astrodevil commented on #4
Please raise a new issue and provide description of changes you want to make.

[2021-09-30 15:40] #4 closed

[2021-09-30 15:47] sunnybhagwat35 commented on #33
By the way, is it necessary to add a label as Hacktoberfest to the issue cuz this issue don't have that label

[2021-09-30 15:47] saisumanthkumar commented on #40
I have a whatsapp automation python project can i add them

[2021-09-30 15:47] Astrodevil commented on #40
@nitin30kumar Go ahead! Also Add proper docs and details about that project. Put whole one project related files under 1 folder

[2021-09-30 15:48] Astrodevil commented on #40
create new issue for that

[2021-09-30 15:49] saisumanthkumar commented on #40
ok @Astrodevil

[2021-09-30 15:50] KarandeepSingh15 opened #42 "More C++ Programs(CountDigitsAndReverseNumber,Foreachloop,TryCatch )"
@Astrodevil I want to add the stated programs in C++ for Hacktoberfest. Kindly Assign this to me

[2021-09-30 15:51] saisumanthkumar opened #43 "Python project using Selenium for Hacktoberfest 2021"
This python program helps to communicate with the web driver Using the python package : SELENIUM

[2021-09-30 15:51] Astrodevil commented on #33
I will add them, If you make pr from oct1

[2021-09-30 15:53] saisumanthkumar commented on #43
Please accept this issue under Hacktoberfest

[2021-09-30 15:54] sunnybhagwat35 commented on #33
Oh, Thank you

[2021-09-30 15:56] Astrodevil commented on #42
@KarandeepSingh15 please provide more details.

[2021-09-30 15:59] shivam-0510 opened #44 "Want to add DSA-C++ Questions."
**The folder will contain :-**

1. Searching
2. Maths
3. Recursion

[2021-09-30 16:11] #38 closed

[2021-09-30 16:20] saisumanthkumar commented on #43
ok

[2021-09-30 16:21] KshitizSharma11 opened #46 "Armstrong number in JAVA"
I would like to contribute a program that checks whether a number is armstrong or not in this repository

[2021-09-30 16:22] #44 closed

[2021-09-30 16:25] KshitizSharma11 opened #47 "Add A Program To find Largest Number That Can Be Made From 3 Numbers."
I would like to add a java program that finds the largest possible 3 digit number that can be made from 3 numbers which we will provide as input

[2021-09-30 16:26] KshitizSharma11 opened #48 "Add a program that prints length of the last word in a sentence"
I would like to add a java program that finds the length of the last word in a sentence to this repository

[2021-09-30 16:31] shivam-0510 opened #49 "Want to add DSA-C questions."
The folder will contain :-

1. Maths
2. Array
3. Sorting
4. String

[2021-09-30 16:37] tharun634 opened #50 "adding mergeSort"
Will be adding mergeSort to DSA folder

[2021-09-30 16:43] Astrodevil commented on #29
@tanmayck1201 raise new issue if your desired program is missing from this repo.

[2021-09-30 17:11] ssahibsingh opened #52 "Want to add some cool small/basic Python Projects."
I want to add some cool small/basic Python projects like checking internet speed with python, shutdown your computer using python and some more like them

[2021-09-30 17:16] Astrodevil commented on #52
OK @ssahibsingh Make separate folder with your project name inside  Python>Projects folder

[2021-09-30 17:20] KarandeepSingh15 commented on #42
Yes, I have seen that programs related to CountDigitsAndReverseNumber are already covered by another contributor. Thus I will work on the other two

[2021-09-30 17:25] saisumanthkumar commented on #43
@Astrodevil please check the PR #54
Added python project folder

[2021-09-30 17:26] riteshshukla04 opened #55 "Want to add small google form spammer project in python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-30 17:27] tanmayck1201 opened #56 "Want to add CPP pgm(s) for DSA!"
Hello @Astrodevil, I'm begginer in opensource & participating in haktoberfest 2021!
I would like to add DSA pgm here, specifically now for sorting algo's - Insertion sort in CPP.
As per my checking, i didn't found that one in the repo 'till now!

[2021-09-30 17:28] riteshshukla04 opened #57 "Want to add prime number code in python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-30 17:29] ssahibsingh opened #58 "Want to add some medium level Projects (Python)."
I want to add some basic to medium level projects like automatic selfie on smile etc.

[2021-09-30 17:34] santoshkakkera commented on #56
Hello @Astrodevil , I would like to add cpp programs for DSA.i can implement list binary search BST and also can implement all sorting algos.so please kindly assign this task to me.

[2021-09-30 17:37] ssahibsingh opened #59 "Want to add some cool Advance Projects (Python)."
I want to add cool advance projects like maze solver using python, Weather update using python.

[2021-09-30 17:47] subh-chaturvedi opened #60 "A program which counts the number of words containing the specified alphabet"

[2021-09-30 18:19] Vedika-Agrawal commented on #49
I would like to add some DSA questions with solutions, PLease assign this task to me.

[2021-09-30 18:26] 18ankitjha opened #65 "adding linked list programm to dsa folder"
i find there are not basic problem/programm of dsa in dsa folder

[2021-09-30 18:27] #65 closed

[2021-09-30 18:39] 18ankitjha opened #67 "dsa folder should have implementation of stack as well"
there is only linked list programm in dsa folder

[2021-09-30 18:44] Panic100 opened #69 "Adding Linear Data Structure"
I will be adding Linked List, Stack and Queue data structure programs, by creating new DSA-CPP sub-folder in DSA folder.

[2021-09-30 18:44] deenu-1001 commented on #31
please assign this to me.

[2021-09-30 18:48] Panic100 opened #70 "Making Changes in linearvsbinarysearch.cpp"
The program is not well written, I'll try to make it better.

[2021-09-30 18:48] Astrodevil commented on #31
already assigned you can work on other issues.

[2021-09-30 19:02] deenu-1001 commented on #31
okay sir not a problem

On Fri, Oct 1, 2021 at 12:18 AM Mr. Ånand ***@***.***> wrote:

[2021-09-30 19:04] ManasviGoyal opened #74 "Want to add Python program"
@Astrodevil please assign me

[2021-09-30 19:06] #69 closed

[2021-09-30 19:10] Astrodevil commented on #55
@riteshshukla04 Please Edit Description and add proper details and files,docs,setup details with your project file.

[2021-09-30 19:13] #60 closed

[2021-09-30 19:13] Panic100 opened #77 "I would like to add few Sorting Algorithms"
I will add Selection Sort, Bubble Sort, Merge Sort and Quick Sort.

[2021-09-30 19:14] Astrodevil commented on #74
Please provide proper details In pr and mention this issue

[2021-09-30 19:16] #70 closed

[2021-09-30 19:16] Astrodevil commented on #58
@ssahibsingh go ahead

[2021-09-30 19:24] grimm989 opened #79 "DSA Stack code for parentheses check"
adding code for parentheses check in cpp

[2021-09-30 19:25] Astrodevil commented on #77
Go ahead

[2021-09-30 19:26] Astrodevil commented on #79
Put in correct folder

[2021-09-30 19:28] shubhamnag14 commented on #77
I would like to add some sorting algorithms in python

[2021-09-30 19:31] Astrodevil commented on #56
@tanmayck1201 @santoshkakkera please contribute accordingly, make sure that your codes don't repeat with previous codes in repo. Put correct description during PR.

[2021-09-30 19:31] saisumanthkumar commented on #43
@Astrodevil Added python project folder
please check PR #54

[2021-09-30 19:34] Astrodevil commented on #56
@tanmayck1201 You can add insertion sort

@santoshkakkera You can add BST

[2021-09-30 19:36] shubhamnag14 commented on #58
I want to add some basic to medium level projects like Qrgenerator and many more

[2021-09-30 19:39] #77 closed

[2021-09-30 19:40] #79 closed

[2021-09-30 19:46] shubhamnag14 commented on #74
i would to work in this issue

[2021-09-30 19:50] #42 closed

[2021-09-30 19:56] Astrodevil commented on #74
@shubhamnag14 work on other issue by creating one.

[2021-09-30 19:57] grimm989 opened #87 "Basic DSA questions -Sparse Arrays"
Sparse Array DSA question adding.

[2021-09-30 20:02] Astrodevil commented on #57
please edit description. and check python folder if same code is not there create one.

[2021-09-30 20:06] #87 closed

[2021-09-30 20:12] Panic100 opened #89 "Adding Sub array sum in Basic DSA questions"
This is a program of printing the sum of all the possible sub array of given size.
#forHacktoberFest
#opensource

[2021-09-30 20:12] #43 closed

[2021-09-30 20:14] Astrodevil commented on #89
Go Ahead

[2021-09-30 20:17] #89 closed

[2021-09-30 20:17] ManasviGoyal commented on #29
@Astrodevil check

[2021-09-30 20:27] #29 closed

[2021-09-30 20:31] #31 closed

[2021-09-30 20:32] shubhamnag14 commented on #57
Can I add a prime number code in python..please assign me this

[2021-09-30 20:33] shubhamnag14 commented on #56
Can I add some DSA also

[2021-09-30 20:39] Astrodevil commented on #56
please, create new issue about your contribution so I can assign your work

[2021-09-30 20:47] santoshkakkera commented on #56
@Astrodevil i have just created a pr can you verify it.

[2021-09-30 20:59] nitinkumar30 opened #98 "Want to add array implementation in C (traversal, insertion, deletion)"
I cannot see any array implementation in the C language. I'm bothered about the new programmers who'd like to go through the basics of DSA.

So, I want to contribute to the DSA in C language with array implementation which includes traversal, insertion & deletion.

I've considered another language (most probably Python) for DSA but we can completely do DSA in python with List &  Dictionary which h

[2021-09-30 21:00] shubhamnag14 opened #99 "Add A* algorithm in python"
The A* algorithm is one of the most effective path finding algorithms used to find the shortest path between two points

[2021-09-30 21:00] shubhamnag14 commented on #74
i have created one issue..now can i do this work

[2021-09-30 21:13] Astrodevil commented on #99
Go ahead🚀

[2021-09-30 21:13] santoshkakkera commented on #56
sorry sir, i didn't get you could you go some brief

On Fri, 1 Oct 2021 at 02:09, Mr. Ånand ***@***.***> wrote:

[2021-09-30 21:16] Astrodevil commented on #98
You can add the same in DSA folder and make more folders accordingly, Go ahead 👍🏻

[2021-09-30 23:00] shivanisorte commented on #99
Please assign to me

[2021-10-01 00:56] x-walker-x commented on #48
Hey, I am interested, can you assign it to me

[2021-10-01 01:07] Devesh225 opened #104 "I want to add some programs for Array Implementation and Operations in C Language."
Array is a very useful data structure which is used almost everywhere. I would like to write properly documented Array ADT code, along with the operations we can do with Arrays, to make a good template for someone who wants to learn and utilize arrays.

Creating, Deleting, Inserting Elements, Merging Two Arrays, and much more along with the Time Complexities.

[2021-10-01 01:13] Amulya77 opened #105 "I want to add a tic tac toe game based on minimax algorithm using c++ and concepts of dsa"
I want to add a  Game i.e. cpp code based on minimax algorithm

[2021-10-01 02:23] KarandeepSingh15 opened #107 "I want to add C++ Program to demonstrate class template"
Hey,
I would like to add the stated program. Kindly assign it to me

[2021-10-01 02:46] aditya-517 opened #109 "I want to add an easy Java Question"
Hey,
I want to add an Easy Java question on Array.
Question : Maximum Product of Two Elements in an Array
Can you please assign this issue to me & add HactoberFest label.
Thanks.

[2021-10-01 02:49] #109 closed

[2021-10-01 03:59] joshiaastha opened #116 "Python Script to extract phone no. and email address from a text file."
Being a part of Hacktoberfest, I'm planning to add a python script which can extract phone no. and email address from a text file.
**Problem Statement:**
Say you have the boring task of finding every phone number and email address in a comments section of a popular blog. If you manually scroll through the page, you might end up searching for a long time. But if you had a program that could search

[2021-10-01 04:38] prabhxjottsingh opened #120 "Sum of Elements of Linked List (C++)"
I cannot see any program for adding the data elements of linked list.
I want to contribute with the same using recursion as well as without recursion in the Basic DSA folder.
Can you assign this to me ??

[2021-10-01 04:43] rustzz-27 opened #121 "A discord stock bot"
**Is your feature request related to a problem? Please describe.**
I want to contribute a small project called discord stock bot written in python and makes use of discord API

**Describe the solution you'd like**
The bot would give live stock price update when requested, top 25 gainers

please consider this request under hacktoberfest 2021
Thank you

[2021-10-01 04:53] Astrodevil commented on #121
@rustzz-27 Are You planning to add this in project folder under python?

[2021-10-01 04:54] rustzz-27 commented on #121
yes

[2021-10-01 04:55] Astrodevil commented on #121
@rustzz-27 Go Ahead👍🏼 Put your project under 1 folder.

[2021-10-01 04:56] joshiaastha commented on #116
Could you please assign this issue to me?

[2021-10-01 04:58] rustzz-27 commented on #121
meaning i should add this under Python/Projects/ ? or can I create a complete separate folder itself?

[2021-10-01 05:26] saisumanthkumar opened #124 "python inbuilt REPLACE function"
I would like to implement the python inbuilt replace function using recursion,

@Astrodevil please accept this issue for hacktoberfest

[2021-10-01 05:26] saisumanthkumar commented on #124
@Astrodevil please accept this issue

[2021-10-01 05:46] KavyaJaiswal opened #125 "Request for adding multiple Java Programs"
I will work on adding new Java programs to this repository.
@Astrodevil

[2021-10-01 05:47] Astrodevil commented on #59
Can you mention? Project name or any details.

[2021-10-01 05:53] Astrodevil commented on #67
Ok Let me check.

[2021-10-01 05:54] muthuannamalai12 opened #126 "Circle Sort in C++"
I would like to add the code for circle sort implemented in C++ as a part of Hacktoberfest. Kindly assign me this issue

[2021-10-01 05:55] muthuannamalai12 opened #127 "Comb Sort in C++"
I would like to add the code for comb sort implemented in C++ as a part of Hacktoberfest. Kindly assign me this issue

[2021-10-01 05:58] Astrodevil commented on #127
@muthuannamalai12 Go Ahead! put it in respective folder.

[2021-10-01 06:01] Astrodevil commented on #104
Its already handled by someone here #98

[2021-10-01 06:06] kahtras665 commented on #17
Hey @Astrodevil
I've done a PR, could you please merge it with the main repository.
#110

[2021-10-01 06:20] Geek-Tekina opened #128 "Want to Contribute Basic Sorting CPP programs"
Please assign this to me . Want to contribute as a contributor in HACTOBERFEST 2021.

[2021-10-01 06:24] Geek-Tekina commented on #128
@Astrodevil Sir

[2021-10-01 06:31] abhishekkumar11724 opened #129 "want to add a tic tac toe program in python"
I was wondering that since its a Beginner programmer guide, so shouldn't it contain some beginner friendly games.

so I want to add a tic tac toe game which I had written in python.

its a beginner friendly and easy to understand program and a really helpful to the new programmers to understand the logics.

so please assign this request to me.

[2021-10-01 06:37] The-An0rack opened #130 "To add binary tree algorithms in the repository"
I would like to add binary tree algorithms such as traversal algorithms(in order, pre-order, post order, level order, etc.) and several other algorithms which are must be known for coding interviews.

Location: DSA/DSA-CPP

[2021-10-01 06:43] abhishekkumar11724 opened #131 "card game in python"
I want to add a card game which is written in python. its a terminal based game and I made it to show oops concept in python and its good for the beginners if they want to learn work flow. so please assign this issue to me.

[2021-10-01 06:48] DipanshuKumarRai opened #133 "primetwono.cpp"
#133Add a prime two number in cpp

[2021-10-01 06:49] abhishekkumar11724 opened #134 "black deck in python"
I want to contribute a game "black deck" made in python. its a terminal based game but its different from other games as its above the beginner friendly game. this game is for experts by which they can understand complex logics and even high use of oops.
this game is a two person game were one is user and other is pc that is why is really good for programmers who had learned oops and had gained co

[2021-10-01 06:51] rustzz-27 commented on #121
I have made a PR pls review it

[2021-10-01 07:09] ssahibsingh commented on #59
I have already mentioned name of Projects. Projects like Maze Solver, Weather Update etc. These projects will not be of very advanced level but rather medium to advance level.

[2021-10-01 07:24] tanmayck1201 commented on #56
I've also added insertionsort pgm, check it pls!

[2021-10-01 07:36] dmytrohavrysh opened #139 "Number guessing game in Java"
I would like to add the code for Number guessing game in Java as a part of Hacktoberfest. Kindly assign me this issue

[2021-10-01 07:39] dmytrohavrysh opened #140 "Bubble Sort in Java"
I would to add a Bubble Sort in Java. It will be very useful for newbies.

[2021-10-01 07:40] nightfury-crypto opened #141 "ADD Python project - Youtube Video downloader"
I have a youtube video downloader project.
it is gui based made using tkinter module. I want to add it in your repo.

![image](https://user-images.githubusercontent.com/65121678/135583424-8384619a-14cb-4918-aaa2-a819552d42bd.png)

[2021-10-01 07:41] parthn2 opened #142 "Queue and Dequeue in cpp"
I would like to add implimentation of queue and dequeue in C++

[2021-10-01 07:42] dmytrohavrysh opened #143 "Insertion Sort in Java"
I would to add a Insertion Sort in Java. This is part of the Hacktoberfest 2021.

[2021-10-01 07:43] dmytrohavrysh opened #144 "Selection Sort in Java"
I would to add Selection Sort in Java. This is part of the Hacktoberfest 2021.

[2021-10-01 07:43] #49 closed

[2021-10-01 07:47] nightfury-crypto opened #145 "ADD Python Project - todo app"
todo app made using tkinter module. It is gui based and you can add and delete the items.

![image](https://user-images.githubusercontent.com/65121678/135584355-6b0b90cc-d22c-4e66-bf0b-becaa666deab.png)

[2021-10-01 07:49] DipanshuKumarRai opened #146 "Adding python program.py"
i want to add Simple Calculator by Using Functions in python folder

[2021-10-01 07:51] saisumanthkumar commented on #124
@Astrodevil for hacktoberfest2021

[2021-10-01 07:51] nightfury-crypto opened #147 "ADD Python project - Calculator"
gui based calculator made using tkinter module.

it is a simple calculator with view history result feature.

![image](https://user-images.githubusercontent.com/65121678/135584729-6fd990fc-6692-4a27-80a1-fe1250d6f1ea.png)

[2021-10-01 07:52] #128 closed

[2021-10-01 08:10] Astrodevil commented on #121
Yes put you project folder under python/projects/your folder

[2021-10-01 08:13] rustzz-27 commented on #121
actually I added inside the python folder not inside the projects
is it okay?

[2021-10-01 08:14] Astrodevil commented on #121
Add inside projects, all projects must be in 1 folder as you can see more projects are already there

[2021-10-01 08:16] rustzz-27 commented on #121
okaay will do that

[2021-10-01 08:22] rustzz-27 commented on #121
Done

[2021-10-01 08:28] samyaksand commented on #4
Hello, can you assign me this issue. I want to contribute some dsa solutions that I did while learning Data structures

[2021-10-01 08:43] arpitbaheti2002 opened #150 "Add a C++ program [word counter]"
### Description :
I want to add a C++ program in Programming-Basics/C++/ that counts the number of words in a sentence.

### Use :
This C++ program takes a sentence as input from the user and stores it in the form of a String.
Then counts the number of words in considering each word is separated by a blank space (" ").

### Concepts used:

- Strings
- Loop
- Basic input and output.

### Pull Reque

[2021-10-01 08:48] nightfury-crypto opened #151 "ADD Python Project - Weather application"
made using tkinter module.
It is gui based and user can search any  #city.

![image](https://user-images.githubusercontent.com/65121678/135592072-ca7f25e2-1745-422f-9cc4-e3b4d46da934.png)

[2021-10-01 08:51] #39 closed

[2021-10-01 08:52] Vikash-8090-Yadav opened #152 "merge_2_sorted_ll"
hey there , i thought to add 1 new file under folder under singly linked list (dsa->linked _list -> singly_list ->)
the file name is merge_2_sorted from the linked list ..:

u can see the code below :

// WAP TO MERGE TWO SORTED LL

// input : 1 2 3 4 -1
// 6  7 8 9 -1

// output :
// 1234
// 6789
// 12346789

// begin of the code :
#include <bits/stdc++.h>
using namespace std;

class node{
public

[2021-10-01 08:54] Vikash-8090-Yadav commented on #152
clear code below:

// WAP TO MERGE TWO SORTED LL

// input : 1 2 3 4 -1
// 6  7 8 9 -1

// output :
// 1234
// 6789
// 12346789

// begin of the code :
#include <bits/stdc++.h>
using namespace std;

class node{
public:
	int data;
	node*next;
	node(int data){
		this->data = data;
		next = NULL;
	}
};

node*takeinput(){
	int cnt = 0;
	int data;
	cin>>data;
	node*head = NULL;
	node*tail = NULL;
	whil

[2021-10-01 08:58] nightfury-crypto opened #155 "ADD Python project - LOGIN FORM"
gui based login form.

username = user123
password = password@123

![image](https://user-images.githubusercontent.com/65121678/135593616-55e84b84-4b84-4186-ac99-6563a544cdd6.png)

[2021-10-01 09:03] arpitbaheti2002 opened #156 "Add a C++ program that converts any string to its Binary form."
This is an interesting project I did as a beginner that allows users to enter a string. and then displays it in Binary format.
I like converting my name in binary to know how the computer actually reads it.

[2021-10-01 09:04] lynx1902 opened #157 "added tictactoe game in python/Games"
Created a Games folder in the python repo and added unbeatable tictactoe program in it.

[2021-10-01 09:06] Harsika-dev opened #158 "Add C++ Program for Trapping Rain Water problem"
This is a C++ program solution of this popular leetcode question:
LeetCode Question Link : https://leetcode.com/problems/trapping-rain-water/
**Question :** Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.
**Solution :** The solution is in C++ language.

This is for Hactoberfest Contribution and Particip

[2021-10-01 09:31] #157 closed

[2021-10-01 09:49] #27 closed

[2021-10-01 10:00] #104 closed

[2021-10-01 10:03] Astrodevil commented on #105
@Amulya77 Go ahead put it in proper folder of this repo.

[2021-10-01 10:06] Astrodevil commented on #107
@KarandeepSingh15 please go through this repo and put your programs in proper folder.

[2021-10-01 10:10] Astrodevil commented on #116
Put it in Project folder under python by making separate folder with project name. Also add setup,tools,docs related to it.

[2021-10-01 10:12] Astrodevil commented on #120
Go Ahead!

[2021-10-01 10:16] Astrodevil commented on #121
provide reference of that PR or mention this issue in that PR.

[2021-10-01 10:18] Astrodevil commented on #125
Go! Ahead. But avoid similar programs.

[2021-10-01 10:18] saisumanthkumar commented on #124
@Astrodevil Added the program file

Please verify #161

[2021-10-01 10:19] Astrodevil commented on #126
Good to Go🚀

[2021-10-01 10:21] Astrodevil commented on #129
@abhishekkumar11724 its already done by someone.

[2021-10-01 10:21] #129 closed

[2021-10-01 10:26] Astrodevil commented on #130
Please see PR #95 and Let me know if you are adding some more and different programs by making proper folder. Then i will assign this to you.

[2021-10-01 10:27] Astrodevil commented on #131
@abhishekkumar11724 Go Ahead! Put you game in Python/Games folder

[2021-10-01 10:29] abhishekkumar11724 opened #162 "python based GUI calculator"
I want to add a **QT5** based GUI calculator which is written in python. its is a good starter project for those who want to learn GUI.
so please assign me this task.
![image](https://user-images.githubusercontent.com/82565067/135612315-a37db54c-63c4-46ee-bda9-4b8af639103c.png)

[2021-10-01 10:32] rustzz-27 commented on #121
#135

[2021-10-01 10:32] ShouryaBrahmastra opened #163 "Adding to the DSA community classroom"
Would like to work on these problems (My preferred language is C ).

1 Input a year and find whether it is a leap year or not.

2 Take two numbers and print the sum of both.

3 Take a number as input and print the multiplication table for it.

4 Take a 2 numbers as inputs and find their HCF and LCM.

5 Keep taking numbers as inputs till the user enters ‘x’, after that print sum of all.

Please ass

[2021-10-01 10:45] The-An0rack commented on #130
The mentioned issue only implements limited operations in a BST(binary search tree) such as insertion, deletion, searching, printing in-order type, while I am proposing to implement binary tree and its important algorithms in C++.

[2021-10-01 10:46] Astrodevil commented on #133
@DipanshuKumarRai Go ahead

[2021-10-01 10:50] Astrodevil commented on #134
#131 Is this the same?

[2021-10-01 10:53] Astrodevil commented on #139
Ok, Go Ahead

[2021-10-01 10:53] abhishekkumar11724 commented on #134
no its not same. the difficulty level is expert.
it is require user inputs and the other one is just a stimulation on how a general card game works.

u can think of it as the next level.
and after this i am working on a GUI based card game in QT5.

[2021-10-01 10:58] abhishekkumar11724 opened #164 "web scraping project in python"
I had learned web scraping in python. so I want to add a beginner friendly project to the repo for web enthusiast.
and I can make it in it in Jupyter notebook with the explanation of every step.
so please assign this issue to me.

[2021-10-01 11:03] Astrodevil commented on #140
Put it in DSA/DSA-Java/Sorting-Algo/..    folder.

[2021-10-01 11:05] Astrodevil commented on #141
Put it in Python/Projects/Your project name folder. with proper docs and setup instructions

[2021-10-01 11:16] Astrodevil commented on #142
Its already there in Stl folder

[2021-10-01 11:16] #142 closed

[2021-10-01 11:18] Astrodevil commented on #143
Put it in DSA/DSA-Java/Sorting-Algo/.. folder.

[2021-10-01 11:19] Astrodevil commented on #144
Put it in DSA/DSA-Java/Sorting-Algo/.. folder.

[2021-10-01 11:21] Astrodevil commented on #145
Go ahead👍🏼

[2021-10-01 11:24] Astrodevil commented on #146
👍🏼

[2021-10-01 11:24] Astrodevil commented on #147
go ahead

[2021-10-01 11:29] emily876 opened #166 "Heap sort - sorting algorithm"
I want to add heap sort algorithm as a part of HacktoberFest2021.
Please assign me this issue.

[2021-10-01 11:30] Astrodevil commented on #151
Add projects in group. You already created multiple issues. Mention this there.

[2021-10-01 11:30] #151 closed

[2021-10-01 11:33] sammy8825 opened #167 "Graph based algorithms (C++)"
I would like to make a folder to show all the graph based algorithms that a programmer should atleast know about it.
Like BFS, DFS traversals, Minimum spanning tree (using both adjacency matrix and adjacency list) and many such algorithms.

[2021-10-01 11:34] Astrodevil commented on #156
Please provide details about in which folder are you going to put this or are you adding any folder. you mentioned  project

[2021-10-01 11:37] #158 closed

[2021-10-01 11:40] Astrodevil commented on #162
Its already assigned in  #147

[2021-10-01 11:41] prabhxjottsingh commented on #120
#169 can you please review this :)

[2021-10-01 11:42] abhishekkumar11724 commented on #162
sir I had read about that and it was made in tkinter and mine is in QT5 which is a more versatile and a broader than tkinter

[2021-10-01 11:43] Astrodevil commented on #163
Dsa community Classroom folder is for java problems being taught in a course

You can add questions and programms in C folder

[2021-10-01 11:43] #163 closed

[2021-10-01 11:47] Astrodevil commented on #166
@emily876 Please put it in proper folder of this repo.

[2021-10-01 11:48] arpitbaheti2002 commented on #150
Thank you for assigning me this issue. I have made pull request #85 regarding this issue. I would like you to review it.

[2021-10-01 11:49] Astrodevil commented on #167
@sammy8825 Ok, Put it into DSA folder .

[2021-10-01 11:50] arpitbaheti2002 commented on #156
I would like to add it to Programming-Basics/C++/ where all basic C++ programs are stored. Thank you for your response.

[2021-10-01 11:52] Astrodevil commented on #162
@abhishekkumar11724 Ok put proper details in the the project so that anyone can know.

[2021-10-01 11:53] Astrodevil commented on #156
Ok Good to go.

[2021-10-01 11:54] Astrodevil commented on #130
@The-An0rack Good to go, follow proper folder order

[2021-10-01 11:55] parthn2 opened #171 "nCr Modulo Any Mod cpp"
I would like to nCr Modulo Any Mod in c++

[2021-10-01 11:56] Astrodevil commented on #134
@abhishekkumar11724 Go ahead

[2021-10-01 11:59] prabhxjottsingh commented on #120
#172 I have done the task assigned, hope you will review it soon, and merge if its okay, otherwise you can tell me the error, thanks in advance. :)

[2021-10-01 12:00] parthn2 commented on #171
Adde PR #173 for this issue. Do check it out!

[2021-10-01 12:07] HimadriPathak commented on #15
I can help but I need to know want all things you want in that page

[2021-10-01 12:41] ShouryaBrahmastra opened #176 "Adding multiplication of matrix"
Would like to add multiplication of matrix using c using dynamic memory allocation.

[2021-10-01 12:48] ShouryaBrahmastra opened #177 "Finding the norm of a matrix using dynamic memory allocation"
Would like do this using c
Can you please assign this

[2021-10-01 12:50] Astrodevil commented on #15
@HimadriPathak drop your ideas.🤔

[2021-10-01 12:51] ssahibsingh commented on #15
I have made similar looking site of what you have given example.

[2021-10-01 13:08] SCI-COPATH commented on #146
can you assigned to me ?

[2021-10-01 13:09] SCI-COPATH commented on #146
@DipanshuKumarRai
can you assigned to me ?

[2021-10-01 13:10] SCI-COPATH commented on #133
@DipanshuKumarRai  Can You  assignee for me ?

[2021-10-01 13:34] arpitbaheti2002 commented on #156
I have made pull request #112 for this feature. Please review it. Thank you for this opportunity.

[2021-10-01 13:48] saisumanthkumar commented on #124
@Astrodevil How can i add reference of my PR here ??

[2021-10-01 13:48] LikhithaTadikonda commented on #23
Even I want to contribute too.

[2021-10-01 13:50] saisumanthkumar commented on #124
@Astrodevil please verify,
and let me know if needed any additions

[2021-10-01 13:50] LikhithaTadikonda commented on #167
I would like to contribute too.

[2021-10-01 13:54] sammy8825 commented on #167
Is there a way to connect with u @Astrodevil

[2021-10-01 14:11] Astrodevil commented on #167
Create new issue and explain what you want to do.

[2021-10-01 14:11] Astrodevil commented on #167
Check my profile you will find my socials

[2021-10-01 14:21] Siddhesh4501 commented on #156
can i get assigned for this one?

[2021-10-01 14:27] #40 closed

[2021-10-01 14:31] Yasas4D opened #180 "Merge Sort algorithm using Python"
Hi! I would like to add the Merge Sort algorithm using Python as a part of HacktoberFest2021.
Can you please assign me this issue?

[2021-10-01 14:35] #180 closed

[2021-10-01 14:51] #121 closed

[2021-10-01 15:01] #141 closed

[2021-10-01 15:06] #156 closed

[2021-10-01 15:08] #107 closed

[2021-10-01 15:15] #120 closed

[2021-10-01 15:17] abhishekkumar11724 commented on #131
sir I had completed the task, hoping you will review it soon.

[2021-10-01 15:37] subh-chaturvedi opened #186 "ADD python code for "Counts the number of times the alphabet occurrence in given string""

[2021-10-01 15:39] Astrodevil commented on #15
Anyone Interested to Work on documentation part? please reply

[2021-10-01 15:52] ssahibsingh commented on #15
@Astrodevil Do I have to raise another issue or you will assign this one to me?

[2021-10-01 15:58] Astrodevil commented on #16
mention your pr here

[2021-10-01 16:01] #124 closed

[2021-10-01 16:10] Astrodevil commented on #146
its already assigned. if you want to raise a Pr please create new issue and provide details there

[2021-10-01 16:16] nitinkumar30 opened #190 "Automation login-signup in python"
I've gone through the repo & it seems there isn't a code for **automation with Python.** I'm going to create auto login-signup code in Python running which users can log in or signup with any credentials on a website.

I wanted to contribute mostly in DSA which is also important for interview preparation but currently working on Python mini projects.

Please tag this issue under 'Hacktober fest 20

[2021-10-01 16:22] prgayake commented on #16
Here is my PR is #149

[2021-10-01 16:31] HimadriPathak commented on #15
we can add a background as the hacktoberfest website and all the contents in a grid like manner and centre aligned.

and I can also help with documentation work.

[2021-10-01 16:33] tanmayck1201 opened #191 "Programs on matrices"
Hello @Astrodevil, i checked the repo about matrices programs but didn't found any!
I can add some of the matrices pgms like Diagonal, lower triangular matrix, etc... implementaion in cpp language.
Kindly assign this task to me, will complete at the earliest! #Hacktoberfest2021

[2021-10-01 16:34] #186 closed

[2021-10-01 17:17] Astrodevil commented on #15
@HimadriPathak No hacktoberfet background needed, needs random attractive backgrounds. may be this project can be added to different open source programs, so section for that will be needed.

[2021-10-01 17:22] Astrodevil commented on #15
@ssahibsingh Please Make a Pr and mention here, no need to create issue.

@HimadriPathak Please wait! let him make 1 PR, then you can work on documentation  and Enhancement.

[2021-10-01 17:38] imsamimalik opened #193 "Factorial Function"
I see that there is a factorial Function snippet but it's messy. I've a really neat Factorial function using Recursion.

[2021-10-01 17:44] imsamimalik commented on #193
Time complexity of my snippet is O(n).

[2021-10-01 18:13] ssahibsingh commented on #15
@Astrodevil I have made a new PR but I don't know how this PR gets added to my previous PR of "Added Pattern Programs". If you can do something please make it correct.

[2021-10-01 18:44] Astrodevil commented on #15
See This: https://astrodevil.github.io/Programming-Basics/

You have to put html file on front(outside every folder).and add valuable contributors section by copying code of README file. go and check it.

[2021-10-01 18:47] Astrodevil commented on #15
mention PR no. or Issue by using (#no. ) from title

[2021-10-01 18:56] ssahibsingh commented on #15
Issue no. #19 and PR no. #159

[2021-10-01 19:06] Astrodevil commented on #15
@ssahibsingh make these changes then i will merge it

[2021-10-01 19:17] shubhamnag14 opened #199 "mergesort in python"
assign me this

[2021-10-01 21:12] devanshtivari opened #205 "Snake Game using C++"
I want to design a Snake game using the basics of C++.
Appoint this issue to me to resolve

[2021-10-02 04:44] #16 closed

[2021-10-02 04:53] subh-chaturvedi commented on #23
@LikhithaTadikonda Make a new issue with more specific title on the kind of code you wish to add, and then make a PR referencing that issue.

[2021-10-02 04:57] #50 closed

[2021-10-02 05:11] #152 closed

[2021-10-02 05:29] Astrodevil commented on #15
@HimadriPathak Now You can work on more enhancement of landing page.

Add more custom documentation
Made a section to mention/show if this program is participating in other open source programs  other than hacktoberfest

[2021-10-02 05:46] subh-chaturvedi opened #210 "ADD python program to find the greatest and smallest numbers from live input."

[2021-10-02 05:47] #210 closed

[2021-10-02 06:49] DEREKFROST07 opened #214 "Adding Music Player Project In Python"
I am adding a Python Project ,please accept it under HACKTOBER FEST 2021

[2021-10-02 06:58] #214 closed

[2021-10-02 07:01] #17 closed

[2021-10-02 07:16] rajan1199 opened #217 "Calculator GUI in Java"
In which folder can I add calculator GUI made in Java?

[2021-10-02 07:19] siphyshu opened #218 "Rock Paper Scissors Game in Python"
I want to add a CLI-based Rock-Paper-Scissors game written in Python to Programming-Basics/Python/Games.

[2021-10-02 07:22] esheetaparulekar commented on #166
Hello, can I work on this in Java?

[2021-10-02 07:24] #166 closed

[2021-10-02 07:31] Astrodevil commented on #4
@samyaksand please raise a new issue and mention what you want to contribute, I will assign that

[2021-10-02 07:32] Astrodevil commented on #59
Ok go ahead, put it in python/project directory

[2021-10-02 07:37] esheetaparulekar opened #219 "Heapsort in Java"
Hello, I would like to add Java code for Heapsort in DSA->SortingAlgo. Could you please assign me this issue?

[2021-10-02 07:48] #218 closed

[2021-10-02 07:49] siphyshu commented on #218
Thanks!

[2021-10-02 07:55] siphyshu opened #223 "Password Generator Utility in Python"
Hi! I'd like to create a "Utility" folder under Python/ which would include useful and interesting python programs.

To start - I want to contribute a simple password generator script to suggest passwords.

![password-gen-output](https://user-images.githubusercontent.com/52672162/135708438-4fdf634e-50ef-4ab8-9374-7e38c44bda09.png)

[2021-10-02 07:57] #205 closed

[2021-10-02 07:59] rajan1199 opened #224 "DSA Book"
Can I add Narsimha Karumanchi book for DSA in C/C++?

[2021-10-02 08:01] #126 closed

[2021-10-02 08:04] #23 closed

[2021-10-02 08:09] #33 closed

[2021-10-02 08:19] #127 closed

[2021-10-02 08:33] siphyshu opened #225 "Hangman Game in Python"
I'd like to add a Hangman game written in python. Please assign this issue to me.

[2021-10-02 08:41] siphyshu opened #226 "Morse Code Encoder/Decoder Utility in Python"
Hi! I want to add a Morse Code <-> English encoder/decoder utility written in Python. Kindly assign this issue to me.

Features:
1. Converts English to Morse Code
2. Beeps the morse code using winsound library
3. Converts Morse Code to English

![image](https://user-images.githubusercontent.com/52672162/135709496-4c92cf47-4b46-4157-b8d4-5181d20b5871.png)

[2021-10-02 08:44] subh-chaturvedi commented on #223
@Astrodevil take a look and review.

[2021-10-02 09:04] Astrodevil commented on #223
@siphyshu Is this a project, then project folder is already there in python? please explain about adding a 'Utility' folder. what types of python contents will go in this folder?

[2021-10-02 09:06] #131 closed

[2021-10-02 09:23] sushant-sinha commented on #191
Hi @tanmayck1201, I wrote a program in java for inverting a matrix #202 . Please let me know other programs that you will be making in cpp so that I can implement those in java.

[2021-10-02 09:34] Rameshchandrapola opened #230 "Zombie_war game in c++"
hello
i would like to add a zombie war game in c++ as a part of Hacktoberfest. please assign me @Astrodevil

[2021-10-02 09:34] Shubham-10-pro opened #231 "Hi i want to make program to make student report file"
I want to make a program which shows student report card

[2021-10-02 09:44] siphyshu commented on #223
This cannot really be classified as a project in my opinion. A Utility folder will contain more or less standalone python scripts that aren't projects but just useful programs that may help you in any way, such as - A Password Generator, A File Sorter, Perhaps a Currency Convertor, A Base64 (or Morse Code!) Encode-Decode Tool, etc. I hope I get my point accross.

If you want I can just add the abo

[2021-10-02 09:49] Subhadiptech opened #232 "Want to implement SEIVE OF ERATOSTHESIS in c++"
Hello @Astrodevil  , I want to make  a c++ program by using seive of eratosthesis which is the most optimised way to find prime. Can I initiate it?

[2021-10-02 09:49] Astrodevil commented on #223
Ah!Ok add utility folder as you mentioned earlier and also attach a readme adding this explanation

[2021-10-02 10:00] siphyshu commented on #223
Thanks! Sure, I'll do that, and yeah this is for hacktoberfest.
Would be nice if you could add the label for the same. 🤗

[2021-10-02 10:25] Astrodevil commented on #191
@sushant-sinha raise new issue and get it assigned before making PR

[2021-10-02 10:37] #225 closed

[2021-10-02 10:50] sushant-sinha opened #235 "Java program for matrix inversion"
I want to implement a matrix inversion program in Java.

It takes a square matrix as input and returns the inverse of it.

[2021-10-02 10:52] sushant-sinha commented on #191
Hi @Astrodevil, I raised a new issue #235 . Sorry for the inconvenience caused.

[2021-10-02 10:52] #67 closed

[2021-10-02 10:56] Astrodevil commented on #235
Next time please make PR after issue gets assigned

[2021-10-02 11:02] Astrodevil commented on #19
Your PR is already merged related to this issue. Is it?

[2021-10-02 11:02] #19 closed

[2021-10-02 11:22] parvsharmaa opened #237 "Would like to add, Smallest Missing Positive Integer Problem"
**Question)** Given an unsorted integer array nums, return the smallest missing positive integer, in O(n) time.

**Approach**) Idea is to swap each positive integer you encounter to its "rightful" place at index (x-1) where x is the integer using the count sort Algorithm.

**Complexity)** It's O(n) because you visit each integer in at most 2 unique loop iterations.

**Location)** Will put the code

[2021-10-02 11:23] parvsharmaa commented on #237
@Astrodevil can i proceed with it ?

[2021-10-02 11:25] m-a-n-a-s opened #238 "Dynamic Programming"
0-1 Knapsack is a interesting application of dynamic programming. Did not see it in C++ folder. Would like to add this problem.

[2021-10-02 11:26] Astrodevil commented on #237
It's a question, right? put it in basic dsa question folder.

[2021-10-02 11:26] parvsharmaa commented on #237
will do. Thanks :)

[2021-10-02 11:33] Astrodevil commented on #56
Please drop PR no. here

[2021-10-02 11:42] Ashborn-SM opened #240 "Add Avl, Bst and heap structure"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I want to add the implementation of the Avl tree, binary-search-tree and heap structure in c++
@Astrodevil please assign this issue to me.
**D

[2021-10-02 11:50] #223 closed

[2021-10-02 11:52] parvsharmaa commented on #237
Done with the Implementation, please review pr #241

[2021-10-02 11:58] #237 closed

[2021-10-02 12:00] #48 closed

[2021-10-02 12:03] #56 closed

[2021-10-02 12:20] Vikash-8090-Yadav opened #243 "length_linkedlist_recurssevly"
hi  there ,
i want  to add  one file  under singly linked list ( DSA->LINKED_list -> singly->list->)  . the file name is length_recurssion
that is  used to calculate  the length of the singly inked list :+1:

u can see my code below:

//  input: 1 2 3 4 5 6 -1

//  output:

// 1 2 3 4  5 6 -1
// 1 2 3 4 5 6
// the length of the linked list is:6

// code begin :

#include <bits/stdc++.h>
using name

[2021-10-02 12:20] Astrodevil commented on #199
add this in DSA/DSA-Python/Sorting Ago/..       directory

[2021-10-02 12:21] izzy-el opened #244 "Implement a Fibonacci algorithm using Recursion"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It would be nice to have a Fibonacci algorithm using Recursion in the C++ folder.

**Describe alternatives you've considered**
There is a Fibonacci algorithm already implemented in the C++ folder, but it was using iteration.

**Additional context**
Recursion is an extremely important topic

[2021-10-02 12:25] Anjani87 commented on #244
please assigne me this issue i can solve this is issue accordingly i am a good programmer in c language and recently i am pursuing b tech in computer science engeneering branch . (2 year)

[2021-10-02 12:27] Astrodevil commented on #177
You have to make appropriate folder or choose proper directory to put this program of C

[2021-10-02 12:28] Anjani87 commented on #191
please assigne me this issue i can solve this is issue accordingly i am a good programmer in c language and recently i am pursuing b tech in computer science engeneering branch . (2 year)

[2021-10-02 12:32] Astrodevil commented on #191
@Anjani87 raise new issue and mention what you want to work on, i will assign that

[2021-10-02 12:34] Astrodevil commented on #230
Go Ahead👍🏼 Also mention this issue in PR

[2021-10-02 12:35] Rameshchandrapola commented on #230
yeah sure thanks

[2021-10-02 12:36] Anjani87 commented on #59
please assigne me this issue i can solve this is issue accordingly i am a good programmer in python language and recently i am pursuing b tech in computer science engeneering branch . (2 year) AND I HAVE RECENTLY COMPLETED A PAID TRAINNING COURSE FROM HACKERRANK IN PYTHON.

[2021-10-02 12:38] Astrodevil commented on #59
@Anjani87 Create new issue for the work you want to do in this repository. This work is already assigned.

[2021-10-02 12:38] Anjani87 commented on #191
YOU CAN GIVE ANY ISSUE IN C LANGUAGE I CAN SOLVE IT. AND WILL TRY MY BEST

[2021-10-02 12:39] #224 closed

[2021-10-02 12:40] rajan1199 commented on #217
Hey! Assign this to me.

[2021-10-02 12:41] Anjani87 commented on #57
please assigne me this issue i can solve this is issue accordingly i am a good programmer in python language and recently i am pursuing b tech in computer science engeneering branch . (2 year) AND I HAVE RECENTLY COMPLETED A PAID TRAINNING COURSE FROM HACKERRANK IN PYTHON.

[2021-10-02 12:45] Anjani87 commented on #243
please assigne me this issue i can solve this is issue accordingly i am a good programmer in C language and recently i am pursuing b tech in computer science engeneering branch . (2 year)

[2021-10-02 12:46] harshharitt commented on #244
Please assign me this fibonacci algo and can i use C or C++ for this issue ?

[2021-10-02 12:47] Anjani87 commented on #193
please assigne me this issue i can solve this is issue accordingly i am a good programmer in python language and recently i am pursuing b tech in computer science engeneering branch . (2 year) AND I HAVE RECENTLY COMPLETED A PAID TRAINNING COURSE FROM HACKERRANK IN PYTHON.

[2021-10-02 12:47] Anjani87 commented on #193
please assigne me this issue i can solve this is issue accordingly i am a good programmer IN C language and recently i am pursuing b tech in computer science engeneering branch . (2 year)

[2021-10-02 12:48] #230 closed

[2021-10-02 12:49] imsamimalik commented on #193
Sorry. I've solved it and created pull request.

[2021-10-02 13:11] siphyshu opened #250 "File Sorter / Junk Organizer in Python"
A File Sorter / Junk Organizer in Python. Puts all the files of a folder into their respective kind of folders.

For example, .png, .jpeg, .jiff files will be put into an "Images" folder and .mp4, .mov files into "Videos" folder.

[2021-10-02 13:15] siphyshu opened #251 "Item Chooser Utility in Python"
A Simple Python Utility which can choose for you. Rolls a dice, Flips a coin, or Picks an item from a list.

![image](https://user-images.githubusercontent.com/52672162/135717912-589404e8-ad58-4277-8722-b2fd6c7beecd.png)

[2021-10-02 13:17] siphyshu opened #252 "Currency Converter in Python"
A CLI-based Currency Converter Utility in Python. Uses http://freecurrencyrates.com 's API to fetch rates.

[2021-10-02 14:05] prakhar3062 opened #254 "Diamond Number pattern in cpp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-02 14:11] tausiq2003 commented on #15
@Astrodevil can I modify some programs for efficiency

[2021-10-02 14:12] tausiq2003 commented on #15
@Astrodevil add label `hacktoberfest` you have added `Hacktoberfest`

[2021-10-02 14:12] tausiq2003 commented on #15
please reply can I do this?

[2021-10-02 14:46] a-ayush19 opened #256 "Most frequent element in an array in C++"
I wanna add most frequent element in an array in C++ in the DSA directory.

Kindly assign it to me.

you can have a look at the code.

#include <bits/stdc++.h>
using namespace std;

int mostFreq(int arr[], int n)
{
    // Sorting
    sort(arr, arr + n);

    // using linear traversal
    int max_count = 1, res = arr[0], curr_count = 1;
    for (int i = 1; i < n; i++) {
        if (arr[i] == arr[i

[2021-10-02 15:03] soumyajitnandi1 opened #257 "File Duplicate Remover"
For a given path if a file exist more than once with same name in directory or consequent subdirectories then all duplicate occurrences will be removed.

[2021-10-02 15:14] #116 closed

[2021-10-02 15:15] sushant-sinha commented on #235
@Astrodevil can you please review #202 and let me know if everything is alright?

[2021-10-02 15:16] #226 closed

[2021-10-02 15:21] #235 closed

[2021-10-02 15:35] sushant-sinha opened #259 "Tree Traversal Programs"
Can I add the Tree traversals programs in java?

I will add the programs in [DSA/DSA-Java/Trees/BinaryTree/](https://github.com/Astrodevil/Programming-Basics/tree/main/DSA/DSA-Java/Trees) folder.

Please let me know if I can go ahead with it.

Thanks.

[2021-10-02 15:36] #259 closed

[2021-10-02 15:36] sushant-sinha commented on #259
already taken

[2021-10-02 15:48] prabhxjottsingh opened #260 "Add Pascal's Trianlge Pattern in pattern folder (C++)"
I want to add a C++ program that prints, this Pascal's triangle pattern in the pattern folder of C++ language.
                1
            1      1
         1      2      1
      1      3      3      1
Please assign me this issue. :)

[2021-10-02 15:51] #244 closed

[2021-10-02 15:53] sushant-sinha opened #262 "JavaFX program for Booth Multiplication for Hacktoberfest 2021"
A JavaFX application that takes 2 binary numbers as input and returns the product with step by step solution for booth multiplication.

Can be useful if someone wants to cross-check their hand-written solution.

For HactoberFest 2021.

[2021-10-02 16:47] HimadriPathak commented on #15
OK I will work on it tomorrow

[2021-10-02 17:11] tausiq2003 commented on #254
![image](https://user-images.githubusercontent.com/80088029/135726075-40ded037-cbb1-4432-bcce-f30a154b23c0.png)
Wait I am working on this

[2021-10-02 17:12] tausiq2003 commented on #254
I will solve in C language wait...

[2021-10-02 17:30] Yogesh733 opened #265 "Diamond pattern for N rows in CPP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-02 17:56] sushant-sinha commented on #262
@Astrodevil can you please assign it to me so that I can start working on it!

[2021-10-02 18:01] tausiq2003 commented on #265
wait working on it

[2021-10-02 18:11] esheetaparulekar commented on #260
Can I work on this issue in Java?

[2021-10-02 18:12] KhafiaAyyub opened #267 "The Curious Case Of Benjamin Bulbs"
Description:
As it is a basic question of programming ,the issue will cover the solution to `The Curious Case Of Benjamin Bulbs` problem in JAVA.

[2021-10-02 18:12] KhafiaAyyub commented on #267
can i work on this issue?

[2021-10-02 18:12] tausiq2003 commented on #176
I am doing it using c

[2021-10-02 18:15] tausiq2003 commented on #193
I will do it

[2021-10-02 18:31] tausiq2003 commented on #265
i have worked on it please close this issue or find bugs.

[2021-10-02 18:31] tausiq2003 commented on #254
i have worked on it please close this issue or find bugs.

[2021-10-02 18:31] tausiq2003 commented on #176
i have worked on it please close this issue or find bugs.

[2021-10-02 18:32] tausiq2003 commented on #193
i have worked on it please close this issue or find bugs.

[2021-10-02 18:40] #254 closed

[2021-10-02 21:50] imsamimalik commented on #193
I've already purposed the lull request before you all. This issue is just an placeholder for that pull request.

[2021-10-03 03:07] ravi-varma-ankam opened #269 "Add Snake Game Project using JavaScript and CSS"
I would like to add my **Snake Game Project** for my **first Open Source Contribution**.

Please assign this issue for me. It will also help me for contributing in HacktoberFest21.

[2021-10-03 03:08] ravi-varma-ankam opened #270 "Add Snake Game Project using JavaScript and CSS"
I would like to  add my **Snake Game** Project for my **first Open Source Contribution**.

Please assign this issue for me. It will also help me for contributing in HacktoberFest21.

[2021-10-03 03:12] #270 closed

[2021-10-03 05:35] Astrodevil commented on #46
Link PR no. here if made

[2021-10-03 05:35] Astrodevil commented on #47
Link PR here if made

[2021-10-03 05:35] Astrodevil commented on #52
Link PR here if made

[2021-10-03 05:39] Astrodevil commented on #58
Link PR here if made

[2021-10-03 05:40] Astrodevil commented on #59
@ssahibsingh Link PR here if made

[2021-10-03 05:41] Astrodevil commented on #98
Link PR here if made

[2021-10-03 05:43] Astrodevil commented on #99
@shubhamnag14 Do you still want to work on this?

[2021-10-03 05:44] Astrodevil commented on #105
@Amulya77 Link PR here if made

[2021-10-03 05:45] Astrodevil commented on #125
Link PR here if made

[2021-10-03 05:45] Astrodevil commented on #130
Link PR here if made

[2021-10-03 05:46] Astrodevil commented on #133
@DipanshuKumarRai Link PR here if made

[2021-10-03 05:46] Astrodevil commented on #134
Link PR here if made

[2021-10-03 05:47] Astrodevil commented on #139
Link PR here if made

[2021-10-03 05:49] abhishekkumar11724 commented on #134
#228

[2021-10-03 05:49] Astrodevil commented on #140
#143 #144 Also solve this issue in 1 Pr and  Link PR here if made

[2021-10-03 05:50] #143 closed

[2021-10-03 05:50] #144 closed

[2021-10-03 05:52] #134 closed

[2021-10-03 05:54] Astrodevil commented on #145
Link PR here if made

[2021-10-03 05:55] Astrodevil commented on #146
@DipanshuKumarRai Link PR here if made

[2021-10-03 05:56] Astrodevil commented on #147
Link PR here if made

[2021-10-03 06:02] #150 closed

[2021-10-03 06:02] Astrodevil commented on #155
Link PR here if made

[2021-10-03 06:03] Astrodevil commented on #162
Link PR here if made

[2021-10-03 06:03] Astrodevil commented on #164
Link PR here if made

[2021-10-03 06:08] Astrodevil commented on #167
Link PR here if made and please see updated repo and exclude files from your folders if not needed

[2021-10-03 06:09] Astrodevil commented on #167
Raise new issue if needed i will assign this task to you.

[2021-10-03 06:16] Yogesh733 commented on #265
I can try to fix out the bugs in your code

[2021-10-03 06:19] abhishekkumar11724 commented on #162
#271

[2021-10-03 06:20] tausiq2003 commented on #265
Wait will I fix that

[2021-10-03 06:20] tausiq2003 commented on #265
Yeah you can

[2021-10-03 06:21] tausiq2003 commented on #265
May I know the bugs.

[2021-10-03 06:21] tausiq2003 commented on #265
😊

[2021-10-03 06:25] bsen20 commented on #252
Can you please assign this task to me for my first contribution

[2021-10-03 06:27] bsen20 commented on #260
Can I work on this in cpp with different approaches

[2021-10-03 06:42] #162 closed

[2021-10-03 06:45] Astrodevil commented on #193
@imsamimalik Mention your PR here

[2021-10-03 06:53] Astrodevil commented on #177
Link PR if made

[2021-10-03 06:53] abhishekkumar11724 commented on #164
#272

[2021-10-03 07:04] Astrodevil commented on #219
Check DSA/DSA-Java folder, its already there. Please let me know.

[2021-10-03 07:07] #269 closed

[2021-10-03 07:09] Astrodevil commented on #267
Please explain in which directory are you planning to put this java problem, or need to create new folder

[2021-10-03 07:21] imsamimalik commented on #193
PR #193

[2021-10-03 07:22] KhafiaAyyub commented on #267
I would like to add in [Programming-Basics/Java](https://github.com/Astrodevil/Programming-Basics/tree/main/Java)

[2021-10-03 07:42] #193 closed

[2021-10-03 08:21] #238 closed

[2021-10-03 08:31] esheetaparulekar commented on #219
No, it's not there in the DSA/DSA-JAVA folders.

[2021-10-03 08:32] shubhamnag14 commented on #58
https://github.com/abhishekdoifode1/Hacktoberfest2021/pull/643

[2021-10-03 08:33] shubhamnag14 commented on #99
i have made on this PR..kindly check it..do the needful

[2021-10-03 08:34] vipul-2003 opened #274 "Adding Cyclic Sort to the sorting folder"
hi , i'm contributing in hacktoberfest2021 , and i want to add cyclic sort in dsa/sorting folder

please assign it to me :))

[2021-10-03 08:54] Brkgng opened #277 "add fibonacci with python"
Hello, I would like to add Pyton code for fibonacci. It gives us fibonacci num with given index.
You can see PR request here: #206

[2021-10-03 09:04] 0Ani opened #279 "Created a script to encrypt and decrypt data"
Created a Python script that encrypts and decrypts data using the cryptography library

[2021-10-03 09:05] 0Ani commented on #279
Already solved at #261

[2021-10-03 09:57] siphyshu commented on #252
Sure, @Astrodevil can assign it to you instead. Let me know if you want any help with it.

[2021-10-03 10:13] Aryan-kamboj opened #284 "i would like to add a question/solution to the c language section of programing basics (i have already made a pull request *newbie*)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-03 10:37] bsen20 commented on #252
@siphyshu  thanks for support

[2021-10-03 11:18] Amulya77 commented on #105
@Astrodevil  I have made a PR please check it #286

[2021-10-03 11:20] Amulya77 commented on #105
#286  hope you approve it I have provided with a proper description and you can check my code working correctly
@Astrodevil

[2021-10-03 13:16] nightfury-crypto commented on #155
#234

[2021-10-03 13:29] arpitbaheti2002 opened #287 "MultiplicationTable.cpp"
### Description:
I would like to add a **C++ program** that displays the multiplication table of any given integer in a very clear and spacious format.

### How it is different?
I would like to use the features of the <iomanip> library to provide output in a more neat and clear format to the user.

### Programming Language used:
- C++

### Concepts Used:
- Basic input / output.
- Arithmetic operat

[2021-10-03 13:30] nightfury-crypto commented on #147
#234

[2021-10-03 13:48] #164 closed

[2021-10-03 14:00] Astrodevil commented on #99
mention PR no.

[2021-10-03 14:02] #147 closed

[2021-10-03 14:02] #155 closed

[2021-10-03 14:08] Astrodevil commented on #58
@shubhamnag14 ? you mentioned pull request of someone else repo. Any reason?

[2021-10-03 14:14] Astrodevil commented on #219
Ok, Go ahead  put it inside proper directory or create a  folder of Sorting Algo inside DSA-Java

[2021-10-03 14:22] #176 closed

[2021-10-03 14:27] #191 closed

[2021-10-03 14:29] #277 closed

[2021-10-03 14:32] Astrodevil commented on #252
Go!Ahead @bsen20

[2021-10-03 14:35] Astrodevil commented on #260
@esheetaparulekar Yes You can, make new folder "Pattern" under Java and put inside it, also move other pattern program of java inside that folder

[2021-10-03 14:40] sushant-sinha commented on #262
@Astrodevil can you please guide me with the procedure for getting this issue assigned to me?

[2021-10-03 14:50] ZenithClown opened #288 "Add two new program for python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Adding two new program `fibonacci series` and `lucas series` under python.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise de

[2021-10-03 14:54] #262 closed

[2021-10-03 14:57] shubhamnag14 commented on #99
#199

[2021-10-03 14:58] shubhamnag14 commented on #58
#198

[2021-10-03 15:04] #288 closed

[2021-10-03 15:11] ShouryaBrahmastra commented on #287
Would like you to please assign me this

[2021-10-03 15:14] ShouryaBrahmastra commented on #177
https://github.com/Astrodevil/Programming-Basics/pull/289
Here it is sorry for the delay

[2021-10-03 15:17] #177 closed

[2021-10-03 17:43] snehadaripa commented on #287
I would like to fix this issue. Please assign it to me.

[2021-10-03 17:44] KavyaJaiswal commented on #125
First java program - https://github.com/Astrodevil/Programming-Basics/pull/291

[2021-10-03 18:08] snehadaripa commented on #256
Please assign this issue to me, I'll fix it.

[2021-10-03 18:08] Astrodevil commented on #217
Made a new folder "projects" inside Java Directory and put it there in a folder

[2021-10-03 18:59] prabhxjottsingh commented on #260
#293 Completed this one, hope you will review it soon. :)

[2021-10-03 20:09] harshitsrivastava1608 opened #295 "Java program to left rotate an array"
Added a java program to left rotate an array by certain value taken as input.
#294
Please make it under Hacktober Fest 2021 .

[2021-10-03 20:33] SaloniJain24 opened #296 "Spiral of a matrix in C++"
can u pls assign this problem to me and add label for hacktoberfest'21

[2021-10-04 03:50] #260 closed

[2021-10-04 03:57] Astrodevil opened #297 "Moving some files to different folder"
You can move DSA based C programming files to DSA/DSA-C/.... by making appropriate folder. That will be helpful if we differentiate DSA problems from others.

[2021-10-04 05:46] ssahibsingh commented on #52
@Astrodevil I don't know how to link PR to an issue. Could you please guide me?

[2021-10-04 05:50] Astrodevil commented on #52
Check #no. In title of your issue and write here. I will find and merge 👍🏻 no problem

[2021-10-04 05:51] wisdomkhan commented on #297
I would like to work on the issue.

[2021-10-04 05:52] ssahibsingh commented on #52
#298 Added Basic Python Projects

Thank You😊

[2021-10-04 05:55] Astrodevil commented on #297
Go Ahead!

[2021-10-04 06:12] wisdomkhan commented on #297
May I also move the 'Sorting Algorithm' (implemented in cpp) to DSA-CPP?

[2021-10-04 06:15] Astrodevil commented on #297
Yes, You can also arrange more folders of DSA

[2021-10-04 07:15] ZenithClown opened #299 "Create Function to Calculate Haversine Distance"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
To measure distance b/w two points on earth, one uses the haversine distance. Create a `python` program to calculate haversine distance. This program is inspired from [scikit-learn distance metric](https://scikit-learn.org/stable/modules/ge

[2021-10-04 07:57] Astrodevil opened #301 "Reviewing Good or Bad quality Pull requests for Hacktoberfest"
If Someone has a proper knowledge about good/bad contributions. you can review some PR already merged or Raised in This Repository. So that I can *apply* or *remove* hacktoberfest-accepted tag from them. Hacktoberfest review period is 14 days.

We have to maintain Quality of contributions. You are welcomed to help me in this.

**Specially for Hacktoberfest** 🎉

[2021-10-04 08:27] Koddi-Evangelista opened #302 "Add new programming language (Javascript)"
**Is your feature request related to a problem? Please describe.**
I see that there is no javascript resources in this repo and it would be a good idea to add it as a new programming language in this repo.

[2021-10-04 10:21] #250 closed

[2021-10-04 10:22] #52 closed

[2021-10-04 10:23] #251 closed

[2021-10-04 10:25] #99 closed

[2021-10-04 10:25] #199 closed

[2021-10-04 10:29] Astrodevil commented on #302
Would love to add more resources. What you want to add in this repo related to javascript? Please let me know.

[2021-10-04 10:34] shubhamnag14 commented on #199
please labeled it hacktober fest accepted

[2021-10-04 11:37] wisdomkhan commented on #297
I have created a PR. Please merge it and I hope you'd add the required Hacktoberfest tags. Thank you!

[2021-10-04 13:20] Koddi-Evangelista commented on #302
Yes you can assign me. I would like to contribute on the data structure and algorithm side of javascript..

[2021-10-04 14:23] Astrodevil commented on #302
Go ahead! put it in Appropriate directory

[2021-10-04 17:01] rajan1199 commented on #217
I have added the calculator GUI (Pull request 315).

[2021-10-04 17:05] rajan1199 commented on #217
#315

[2021-10-04 17:22] sushant-sinha opened #316 "Color Matcher Game in Java for Hacktoberfest 2021"
It's a game where the text is a color name like (Red), and the text has a different font color (Green).

Scores will be generated at the end and it's a timed event.

Please assign me this issue, it's for Hacktofest 2021.

[2021-10-04 21:02] Aman7445 commented on #4
hey can i contribute some of the codes of my own?

[2021-10-04 21:29] nitinkumar30 opened #318 "How to take part in hacktober fest 2021: From Zero to Hero"
I would like to contribute with the steps for completing this fest. I'm also participating for the first time & know the hardships new joiners got. So, would like to eventually help them with complete step-by-step. Is it ok to raise an issue regarding this?

I've gone through various tutorials but many of them were not able to make me understand. After this, I would like to help new joiners in hac

[2021-10-05 04:27] #217 closed

[2021-10-05 04:49] #316 closed

[2021-10-05 04:52] muthuannamalai12 opened #320 "Bucket Sort in C++"
I would like to work on the implementation of bucket sort in C++. Kindly assign it to me as a part of Hacktoberfest

[2021-10-05 04:53] muthuannamalai12 opened #321 "Countsort in C++"
I would love to work on the implementation of Countsort in C++. Kindly assign it to me as a part of Hacktoberfest

[2021-10-05 05:00] Astrodevil commented on #302
Please move all JavaScript DSA based resources to DSA/DSA-JavaScript... directory and leave this main JavaScript folder here for resources other than DSA.

[2021-10-05 05:14] Ankita-Nandkumar-Patil commented on #320
please assign it to me

[2021-10-05 05:34] Ankita-Nandkumar-Patil commented on #167
hey can I add a c++ program to displays the breadth first traversal of all nodes present in a graph.
will you please assign it to me

[2021-10-05 06:52] siphyshu commented on #252
@bsen20 any update on this?

[2021-10-05 06:57] bsen20 commented on #252
@siphyshu  Almost done I'll make pull request by tonight

[2021-10-05 09:28] nitinkumar30 opened #324 "Notepad using Python"
After carefully going through the repo, I was able to see Tkinter project was not there. I want to contribute it using some of my knowledge.

I'll be making a simple notepad using python's Tkinter module.

The features will include:

writing the text
saving the text as .txt file
opening any .txt file

Please tag this issue with 'hacktober fest 2021'

[2021-10-05 16:18] #302 closed

[2021-10-05 16:18] NEWCODECITY opened #326 "Substrings Counter"
This code is used for a special kind of string.
It is used when there is a String, consisting of only 0's and 1's and you have to find the number of substrings, which start and ends in 1.

[2021-10-05 17:14] Astrodevil commented on #267
Is this a DSA based question then put it in DSA/DSA-Java/Questions... comment out the whole concept in code

[2021-10-05 19:04] wisdomkhan commented on #297
Sure. I didn't understand what do you want me to do with the game folder.

[2021-10-05 19:24] wisdomkhan commented on #297
Rest I have done and started another PR.

[2021-10-06 09:22] #219 closed

[2021-10-06 12:53] esheetaparulekar commented on #320
Can I work on this in Java?

[2021-10-06 12:54] esheetaparulekar commented on #321
Can I work on this in Java?

[2021-10-06 13:14] #299 closed

[2021-10-07 03:24] #297 closed

[2021-10-07 04:08] Astrodevil commented on #318
How are you going to do this, in this repository. Will you make documentation?

[2021-10-07 09:34] Astrodevil commented on #318
Check #15 , there are some things I mentioned about landing page.

And about your markdown about Hacktoberfest, It's great. How about including that into project README.md.

[2021-10-08 04:35] cyberskull99297 commented on #287
Hii, I would like to contribute through this programme. I am a beginner at open source and this programme can boost my beginning. Please assign this issue to me.

[2021-10-08 04:46] Astrodevil opened #344 "Enhance Landing Page"
Please see all kinds of contents by visiting our repository. Make landing page clear and detailed, such that any beginner can see and take help by visiting repository through landing page.

**Keep in Mind**
- All the contents in a grid like manner and center aligned.
- Put every file related to landing page in "*assets*" and *index.html* outside, same as now.
- Add more custom documentation.
- Mad

[2021-10-08 04:47] #15 closed

[2021-10-09 03:45] #320 closed

[2021-10-09 03:47] #321 closed

[2021-10-09 06:13] nishantkumar1308 commented on #274
please assing it to me i will do in c++ @Astrodevil

[2021-10-09 06:16] nishantkumar1308 commented on #296
please assign me in  c++
]

[2021-10-09 06:17] nishantkumar1308 commented on #344
please assign it to me

[2021-10-09 06:22] KouluruNandaKishoreReddy opened #350 "Reverse of a number.py"
I will add an implementation of the reverse of a number in python.

[2021-10-09 06:24] KouluruNandaKishoreReddy opened #351 "Birthday wish calculator.py"
I am willing to add a birthday wish calculator in python.please accept the issue

[2021-10-09 06:45] Astrodevil commented on #344
Go Ahead @nishantkumar1308

[2021-10-09 06:53] Astrodevil commented on #351
Is this project? or just a one file script

[2021-10-09 07:16] KouluruNandaKishoreReddy opened #353 "Website alarm.py"
I am willing to add code for website alarm using python

[2021-10-09 14:14] #324 closed

[2021-10-09 14:17] biranchinarayan commented on #295
I want this to be assigned. Please make it. @Astrodevil @harshitsrivastava1608

[2021-10-09 18:59] NEWCODECITY opened #356 "ATM"
This program gives you a roughly idea about, how an ATM works.
User will have to input the amount they want to retrieve and their current amount, then it will return you the remaining amount after the transaction and the bank charges.
If anything goes wrong, it will simply return the current amount.

[2021-10-10 02:49] nishantkumar1308 commented on #356
please assign it to me i will do in c++

[2021-10-10 02:51] nishantkumar1308 commented on #344
thanks for assign it to me @Astrodevil

[2021-10-10 03:55] Astrodevil commented on #356
@NEWCODECITY Is this a project or just 1 program file.

[2021-10-10 04:32] Astrodevil commented on #274
@vipul-2003 You did the 1st one what about second task

[2021-10-10 04:37] Astrodevil commented on #344
Also mention moto of this repo/project: (To Collect every resources and help beginners ) Add some documentations by yourself.

[2021-10-10 04:38] NEWCODECITY commented on #356
It's a program file only

On Sun, Oct 10, 2021, 9:25 AM Mr. Ånand ***@***.***> wrote:

[2021-10-10 04:41] Astrodevil opened #357 "Free-Resources Needed"
Add some good Free resources to learn programing. Video links, E books, documentations,etc.

make proper markdown file to showcase it.For different programming languages make folders.

[2021-10-10 04:42] Astrodevil commented on #344
Yes,

[2021-10-10 04:44] nishantkumar1308 commented on #344
![Screenshot (440)](https://user-images.githubusercontent.com/55284694/136682482-c16ea3ad-718d-4b13-ad2c-2a483edb930c.png)
Navbar is responsive and interactive  is it okay???

[2021-10-10 04:46] Astrodevil commented on #344
looking Good.. but instead of adding just hacktoberfest banner we need a section **See Point 4** So that we can arrange/add small banners of more open source programs

[2021-10-10 04:51] Astrodevil commented on #357
yes, I am taking care of that while merging PR

[2021-10-10 04:51] nishantkumar1308 opened #358 "Can I add dyanamic programming folder in c++, beacuse you c++ folder not contain dp programming"
Can i add dyanamic programming folder in c++ because  your repo not contain any dp probelm.

[2021-10-10 04:52] Astrodevil commented on #357
We can merge more small things needed in this Repo after hacktoberfest.

[2021-10-10 04:53] nishantkumar1308 commented on #357
@Astrodevil  ya, but first we have to take care that this repo is not excluded in hacktoberfest.

[2021-10-10 04:56] Rohit-1609 opened #359 "Add StringPalindrome.java in java folder"
Hello,
I would like to add String Palindrome program in java folder.
This program ask in lot of interviews so it will be really helpful.
Please assign it to me the issue. I am good in java development. Recently I have completed computer science engineering.
I am contributing in 'Hacktoberfest 2021'.
Please add label to 'Hacktoberfest 2021'.

[2021-10-10 06:44] sai-sri-nandan commented on #356
Hey.. I would like to work on this.. Can you assign it to me? and give me more details?

[2021-10-10 08:53] NEWCODECITY opened #361 "Number to Words convertor"
This program writes a number into it's words form , given that the number should be less or equals to Four digits only.
User will have to enter a number and this program will easily returns it's words form.

[2021-10-13 05:46] kumarankm opened #368 "Armstrong number using python"
**Is your feature request related to a problem? Please describe.**
Yes, in python there are no features to display Armstrong number

**Describe the solution you'd like**
I would like to add algo to find Armstong numbers using python

**Describe alternatives you've considered**
I would like to give a solution in order of O(n)

**Additional context**
Nope, just a program.
Assign this issue under hac

[2021-10-13 07:55] arushi09-hub opened #369 "Resource additions for pattern driven programs in different languages"
**Is your feature request related to a problem? Please describe.**
As we clearly see in tech interviews freshers are asked to print different patterns in different programming languages. Patterns are not countable as they are huge in number.

**Describe the solution you'd like**
I would like to add multiple resources such as links and videos for the problem for students/freshers  so that they can

[2021-10-14 09:31] sushant-sinha opened #370 "Why are so many repos getting excluded from Hacktoberfest"
I have seen many repos getting excluded from the event.
![image](https://user-images.githubusercontent.com/60685656/137290454-85d03436-d9f9-452a-bf63-d3cfbe41229a.png)

I found the above image in one of the repos which were excluded.

@Astrodevil how to prevent this repo from getting excluded and are maintainers having any insights into the rules?

[2021-10-14 10:13] kanavphull opened #371 "Addition of a text to audio converter"
We can add an additional feature of a text to audio converter!

[2021-10-14 10:18] kanavphull opened #374 "Addition of a new python game"
A new python game called the No guessing game can be added!

[2021-10-14 23:27] StreakSharn opened #375 "Implement Recursive Python program to find all permutations of a string"
Can I add a Python algorithm to find all permutations of a string input?
I plan to use a single function to demonstrate how the problem can be solved recursively.

[2021-10-15 01:48] nishantkumar1308 commented on #344
can i add description about Other opne souce like MLH etc

[2021-10-17 06:51] arushi09-hub commented on #369
https://github.com/Astrodevil/Programming-Basics/pull/377
PR created!!

[2021-10-17 07:57] #369 closed

[2021-10-17 07:58] m0hit-kumar opened #379 "Office-attendance-system"
## Description
Creating an Office attendance system using python.
- using python Tkinter for designing UI of the whole application.
- Functionality included:-
     - Create a new employee profile.
     - update old employee profile
     - store all that in a separate file
     - easy to use interface
     - unique id generation features

[2021-10-17 08:00] m0hit-kumar commented on #379
thanks, @Astrodevil for assigning it to me

[2021-10-17 09:38] #379 closed

[2021-10-18 06:05] nishantkumar1308 commented on #344
ok I been little bit buzy ,I will do as early as possible

[2021-10-18 16:49] #371 closed, assigned to nobody

[2021-10-19 05:08] nishantkumar1308 commented on #344
@Astrodevil  what can i do now ?? please update my changes on live website.

[2021-10-20 05:39] Meghwantsingh commented on #265
I like to do this problem Can I.

[2021-10-20 09:09] Astrodevil commented on #344
@nishantkumar1308 actually check your pr you have to move files of dynamic programming folder then I will merge it. Sorry for the delay, I am facing some Internet issue.

[2021-10-20 14:14] #344 closed, assigned to 0xn1k

[2021-10-20 14:20] nishantkumar1308 commented on #344
@Astrodevil  when did i become valuable contributor??
😄

[2021-10-20 14:34] Astrodevil opened #387 "Custom docs & Attractive landing Page"
Share ideas and propose changes in landing page in Discussion Section.

**Landing Page:** https://astrodevil.github.io/Programming-Basics/

**Discussion:** https://github.com/Astrodevil/Programming-Basics/discussions/20

[2021-10-20 19:16] Nashtronaut opened #388 "Adding some basic Csharp tutorials and explanations"
**Is your feature request related to a problem? Please describe.**
No, I just feel like C# is a big language and would fit in great.

**Describe the solution you'd like**
I have forked the project and am working on my contribution.

[2021-10-21 07:05] nightfury-crypto opened #391 "ADD Python Game - snakes and ladders"
This game is made using pygame in python using random module.

assign me this underhacktoberfest

![image](https://user-images.githubusercontent.com/65121678/138228111-6e374eb9-bc7c-4f7e-b296-eb03573dfb95.png)

[2021-10-21 14:40] #145 closed

[2021-10-22 06:42] Aryan-kamboj opened #394 "i would like to add a matrix program in cpp"
c++ program which takes the lower right hand triangle out of a matrix in an array form using object oriented programming

[2021-10-22 07:04] Sumant03 opened #396 "Sudoku Solver in Java"
I'm adding a sudoku solver in java, it includes the code and its explanation  . It is hot question in interviews . Pls accept it in hacktoberest .

[2021-10-22 12:04] #391 closed, assigned to nobody

[2021-10-23 04:42] #396 closed, assigned to Sumant03

[2021-10-26 05:25] #374 closed, assigned to nobody

[2021-10-27 14:18] ankit-rane opened #402 "Convert words to PigLatin form"
- I want to add a program that converts normal words to their PigLatin form under the JAVA folder.
 - Kindly assign this issue to me under Hacktoberfest.

[2021-10-28 12:52] ankit-rane opened #404 "Temperature Conversion"
- I want to add a program for temperature conversion under the JAVA folder
 - Kindly assign the issue to me under Hacktoberfest.

[2021-10-28 12:53] #402 closed, assigned to ankit-rane

[2021-10-28 12:56] ankit-rane opened #405 "ConnectFour Game"
- I want to add a program for the game of ConnectFour under the JAVA Simple games folder
 - Kindly assign the issue to me under Hacktoberfest.

[2021-10-28 13:00] ankit-rane opened #406 "Hand Cricket Game"
- I want to add a program for Hand Cricket under the JAVA Simple Games folder
 - Kindly assign the issue to me under Hacktoberfest.

[2021-10-30 11:46] #405 closed

[2021-10-30 11:46] #406 closed

[2021-10-31 11:06] #404 closed

[2021-11-02 11:25] #388 closed

[2021-11-05 10:27] #46 closed

[2021-11-05 10:27] #47 closed

[2021-11-05 10:27] #55 closed

[2021-11-05 10:28] #57 closed

[2021-11-06 15:28] Anjani87 commented on #368
Please assign me this

[2021-11-08 05:19] #58 closed

[2021-11-08 05:19] #59 closed

[2021-11-08 05:19] #74 closed

[2021-11-08 05:19] #98 closed

[2021-11-08 05:19] #105 closed

[2021-11-08 05:19] #130 closed

[2021-11-08 05:19] #133 closed

[2021-11-08 05:19] #139 closed

[2021-11-08 05:19] #140 closed

[2021-11-08 05:19] #146 closed

[2021-11-08 05:19] #167 closed

[2021-11-08 05:19] #171 closed

[2021-11-08 05:19] #190 closed

[2021-11-08 05:19] #231 closed

[2021-11-08 05:19] #232 closed

[2021-11-08 05:19] #243 closed

[2021-11-08 05:19] #256 closed

[2021-11-08 05:19] #257 closed

[2021-11-08 05:19] #265 closed

[2021-11-08 05:19] #267 closed

[2021-11-08 05:19] #279 closed

[2021-11-08 05:19] #287 closed

[2021-11-08 05:19] #296 closed

[2021-11-08 05:19] #326 closed

[2021-11-08 05:19] #350 closed

[2021-11-08 05:19] #351 closed

[2021-11-08 05:19] #353 closed

[2021-11-08 05:19] #356 closed

[2021-11-08 05:19] #357 closed

[2021-11-08 05:19] #358 closed

[2021-11-08 05:19] #359 closed

[2021-11-08 05:19] #361 closed

[2021-11-08 05:19] #368 closed

[2021-11-08 05:19] #375 closed

[2021-11-08 05:19] #387 closed

[2021-11-08 05:19] #394 closed

[2021-11-17 04:14] Astrodevil opened #411 "GitHub Pages Enhancement🎉"
- Enhance [Project Page](https://astrodevil.github.io/Programming-Basics/)
- Make sections/buttons for different programming language and DSA that are in this repo.
- Suggest Some More things to Showcase contents of this repo on the home page.

[2022-02-18 15:43] abs007 opened #418 "Want to add a folder for dynamic programming problems in python"
I have a folder which has python code samples for solving different dynamic programming problems. Would like to add it in as a separate folder.

[2022-07-20 22:09] Ultra980 opened #419 "Enhanced For demo in Java"
Hello, I'd like to add a simple Enhanced For demo in Java.

[2022-10-24 01:54] Ishika0-0 commented on #4
Can I create some array operations like multiplication of 2D array
Please assign this to me @Astrodevil